@import "base"
* 
	margin: 0
	padding: 0 
	//box-shadow: 0 0 0 1px red
html, body 
	height: 100%
body
	+f
	font-weight: normal 
	font-size: 14px
	line-height: 1.4
	&::-webkit-scrollbar
		width: 10px
		background: red
	&::-webkit-scrollbar-track
		background: green
	&::-webkit-scrollbar-thumb
		background: $red
	&::-webkit-scrollbar-track-piece
		background: white
// resets
a img, fieldset 
	border: none
a
	text-decoration: none
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	+f
button 
	background: none 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.container, .footer__in, .header__in
	width: 1188px
	margin: 0 auto
.container
	position: relative
	z-index: 10 
.container_mod
	.l
		margin-bottom: 15px
	.bc
		margin: 0
.title
	margin-bottom: 28px
	padding-bottom: 15px
	border-bottom: 1px solid #d5dbdf 
	color: #363432 
	+fl
	font-weight: 100
	font-size: 44px 
	letter-spacing: -3px 
	line-height: 1.1
.title__level-2
	font-size: 36px 
.title__types
	float: right
	margin-top: 15px
	li
		float: left
		margin-left: 30px 
		&.is-active
			a
				border: none
				color: #7f96a2 
	a
		display: block
		padding-bottom: 8px
		border-bottom: 2px solid #627983 
		font-family: Arial, Tahoma, sans-serif 
		font-size: 12px
		text-transform: uppercase
		color: #233C48 
		letter-spacing: 0		
.title__in
	display: table
.title-border
	margin-bottom: 30px
	border-bottom: 1px solid #e9e9e8
	font-size: 0 
.title-border__in
	display: inline-block
	padding-bottom: 20px 
	margin-bottom: -1px
	border-bottom: 1px solid #707070 
	font-size: 16px
	text-transform: uppercase 
//ico
.ico
	display: inline-block
	vertical-align: middle
.ico_point
	+s(ico-point)
.ico_pdf
	+s(ico-pdf)
//header
.header
	background: $red
	.logo
		top: 30px
		left: 27px
		padding: 0
		border: none
	.language
		top: 45px
	.find-salon
		top: 0
		left: 590px
		width: 180px
		height: 110px
		line-height: 110px
		text-align: center 
.header__in
	position: relative
	height: 110px 
.header_diller
	.header__category
		left: 405px
.header__route
	position: absolute
	top: 48px
	left: 260px
	font-size: 11px
	text-transform: uppercase
	color: #FFF 
.header__user	
	position: absolute
	top: 0
	right: 0
.header__user-in
	display: table-cell
	height: 110px 
	vertical-align: middle
	a
		position: relative
		display: inline-block
		padding-left: 20px
		margin-right: 60px 
		font-size: 12px
		color: #FFF 
	a, .btn
		vertical-align: middle
	i
		position: absolute
		top: 0
		left: 0
		+s(header-user)
.header__category
	position: absolute
	top: 0
	left: 270px
	width: 320px
	height: 110px
	+fl
	text-transform: uppercase
	color: #FFF 
	&:hover
		.header__category-list
			li
				height: 110px
.header__category-current
	width: 320px
	height: 110px
	background: #9a1a0b
	span
		display: table-cell
		width: 205px
		height: 110px
		padding: 0 75px 0 35px 
		vertical-align: middle
	i
		position: absolute
		top: 45px
		right: 28px
		+s(header-category)
.header__category-list
	position: absolute
	top: 100%
	left: 0
	right: 0
	z-index: 500
	li
		height: 0
		+tr(height .2s linear)
		overflow: hidden
	a
		display: table-cell
		width: 250px
		height: 110px
		border-top: 1px solid #c52d1c 
		background: #9A1A0B 
		padding: 0 35px
		vertical-align: middle
		color: #FFF 
		overflow: hidden
		+tr(background-color .2s linear)
		&:hover
			background: #C52D1C 
.header__phone
	position: absolute
	top: 0
	left: 770px
	height: 110px
	line-height: 110px
	font-size: 0
	cursor: default
	&:hover
		.header__phone-form
			height: 198px 
.header__phone-in
	display: inline-block
	padding: 5px 30px 10px
	border:  1px solid rgba(255,255,255,.23)
	border-width: 0 1px
	line-height: 1.4
	vertical-align: middle
	span
		display: block
		+fl
		font-size: 24px
		color: #FFF 
	strong
		border-bottom: 1px dotted
		font-weight: normal
		font-size: 9px		
		text-transform: uppercase
		color: #FFF  
.header__phone-form
	position: absolute
	top: 100%
	right: 0
	width: 330px
	height: 0
	+tr(height .2s linear)
	overflow: hidden
	z-index: 500 
.header__phone-form-in
	padding: 25px 30px
	background: #9A1A0B
	line-height: 1		 		
	.field
		margin-bottom: 15px
	.field__input
		input
			background: #fff 
	.btn
		width: 100%
		height: 46px
		background: $red

//nav
.nav
	margin-bottom: 40px	 
	background: $red
.nav__list
	width: 1188px
	margin: 0 auto 
	white-space: nowrap
	font-size: 0
	li
		position: relative
		display: inline-block
		vertical-align: top
		text-align: center 
		&:first-child
			padding: 0 
			a
				&:before
					display: none
		&:hover
			margin-right: -1px
			z-index: 2 			
	a
		display: block
		height: 80px
		padding: 0 35px
		font-size: 12px
		color: #FFF
		line-height: 80px
		text-transform: uppercase
		+tr(background .2s linear)
		&:before
			content: ""
			position: absolute
			top: 36px
			left: 0
			height: 9px
			border-left: 1px solid rgba(255,255,255,.3) 
			+tr(opacity .2s linear)
		&:hover
			background: $redh 
			padding: 0 36px 0 35px
			&:before
				opacity: 0 
.nav__list-last
	width: 100%
	height: 0
//footer	
.footer
	padding-top: 27px
	background: #363432 
.footer__row
	padding: 35px 0 74px
	+clr
.footer__cell
	float: left
	min-height: 50px
	padding: 10px 70px 0 20px
	border-left: 1px solid #474544
	font-size: 12px
	span, strong
		display: block
	span
		color: #989797
	strong, a
		color: #dadada
		font-weight: normal
	&:first-child
		border: none
		padding: 10px 20px 0 0 
.footer__cell_right
	float: right
	padding: 5px 0 0 0
	border: none
.footer__logo
	float: left	
	+s(logo-small)
.footer__social
	padding: 5px 0 0 15px
	font-size: 0
	a
		display: inline-block
		margin-left: 10px
		&:first-child
			margin: 0
.footer__fb
	+s(fb)
.footer__tw
	+s(tw)
.footer__enter
	button
		+s(footer-enter)
.footer__created
	span
		font-size: 11px
	a
		display: block
		+s(vintage)
		+ht
.footer__top
	padding-bottom: 30px
	border-bottom: 1px solid #474544 
	+clr
.search-form
	float: right
	height: 38px
	border: 1px solid #5b5a58
	font-size: 0
	white-space: nowrap
	input
		width: 210px
		height: 38px
		padding-left: 15px
		background: none
		font-size: 11px
		color: #BEBDBD
		+ph(#bebdbd)
	button
		width: 40px 
		height: 38px
		i
			display: inline-block
			+s(search-btn)
.footer__map
	float: left
.footer__map-title
	float: left
	height: 40px
	margin-right: 50px
	line-height: 40px
	+fl
	font-size: 29px
	color: #989797 
.footer__map-btn
	position: relative
	float: left
	width: 138px
	height: 35px
	padding: 0 35px 0 15px
	border: 1px solid #5b5a58
	text-align: left
	font-size: 11px
	color: #BEBDBD
	overflow: visible
	&:after
		content: ""
		position: absolute
		top: 15px
		right: 15px 
		+arr(8,4,#BEBDBD,b) 

//select
.select
	position: relative
	font-size: 12px
	color: #838281
	cursor: pointer
	+no-sel
	&.is-open
		z-index: 900 
		.select__options
			display: block
		.select__value
			&:after
				+rotate(-180deg)
.select__value
	position: relative
	height: 36px
	background: #FFF 
	padding: 0 45px 0 15px
	line-height: 36px	
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap 
	+gpu
	&:after	
		content: ""
		position: absolute
		top: 13px
		right: 16px
		+tr(all .2s linear)
		+s(select-arr)
.select__options
	display: none
	position: absolute
	top: 100%
	left: 0
	right: 0
	max-height: 222px
	overflow: auto
	li
		padding: 10px 15px
		background: #FFF 
		border-top: 1px solid #e9f0f4 
		
//btn
.btn
	height: 36px
	padding: 0 30px
	background: #363432
	+fl
	text-transform: uppercase
	color: #FFF  
	span, i
		display: inline-block
		vertical-align: middle
	i
		margin-right: 12px
.btn_big
	height: 56px 
	font-size: 23px 
.btn_file
	padding: 0
	background: #617883 
	font-size: 0
	text-align: center
	span
		font-size: 12px
		text-transform: none
	i
		margin: 0 0 0 20px 
		+s(btn-file)
	
//form
.field__input
	display: block
	input
		width: 100%
		height: 36px
		padding: 0 15px
		background: #dbe5ea 
		+box
.field__area
	display: block
	textarea
		display: block
		width: 100%
		height: 102px
		padding: 10px 15px
		background: #dbe5ea 
		resize: vertical
		+box
.field__label	
	display: block