@import "base"
//styles for inner pages
.substrate
	position: absolute
	top: 110px
	left: 0
	right: 0
	height: 645px
	background: #e9f0f4
	+cover
	z-index: 5 
.substrate__top
	position: relative
	height: 64px
	background: #dbe5ea 	 
	z-index: 20 
.substrate__top-mod
	background: rgb(0,0,0) 
	background: rgba(0,0,0,.3) 

.nav-inner
	margin-bottom: 30px
	li
		border-bottom: 1px solid #e9f0f4 
		&.is-active
			a
				background: #333
				color: #fff  
	a
		display: table-cell
		width: 210px
		height: 64px
		padding: 0 25px 0 35px
		background: #FFF
		vertical-align: middle
		text-transform: uppercase
		color: #333
		+fl
.nav-inner_drop
	position: relative
	margin: 0
	.nav-inner__list
		position: absolute
		top: 64px
		left: 0
		right: 0
		z-index: 100 		
		li
			height: 0
			overflow: hidden
			+tr(height .2s linear)
	&:hover
		.nav-inner__list
			li
				height: 64px

.nav-inner__title
	position: relative
	height: 64px
	padding: 0 80px 0 35px
	background: #363432
	text-transform: uppercase
	color: #fff   
	font-size: 14px
	line-height: 64px
	cursor: pointer
	i
		position: absolute
		top: 20px
		right: 35px
		+s(nav-inner-ico) 
		
.bc
	position: relative
	margin-bottom: 20px
	z-index: 20 
	ul
		display: table-cell
		width: 100%
		height: 64px		
		font-size: 0
		vertical-align: middle
	li
		display: inline-block
		vertical-align: top
	a, span
		display: inline-block
		font-size: 10px
		color: #607782
		text-transform: uppercase 
		vertical-align: bottom
	span
		color: #8CA4B0 
	i
		display: inline-block
		margin: 0 10px 5px
		+arr(4,6,#607782,r)
		vertical-align: bottom
.bc_white
	a, span
		color: #FFF 
	i
		border-color: transparent transparent transparent #fff
		
.btn-list
	margin-bottom: 30px
	+clr
	li
		float: left
		width: 49%
		background: #DBE5EA 			
		&:first-child
			margin-right: 2%
		&.is-active
			background: #607782
			span
				color: #fff  
	a
		display: block
		height: 74px
		font-size: 0		 
		line-height: 74px
		text-align: center
	.ico
		margin-right: 12px 
	span
		display: inline-block
		vertical-align: middle
		+fl
		font-size: 20px
		color: #363432
		text-transform: uppercase
.btn-list_down
	margin: 30px 0 0 0
		
.design
	margin-bottom: 60px
	overflow: hidden
.design__people
	margin: 0 -30px 45px 0
	li
		position: relative
		float: left
		width: 276px
		margin: 0 26px 26px 0
		&:hover
			span
				height: 276px
				line-height: 276px 
	img, a
		display: block
	span
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 60px
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.7) 
		text-align: center
		line-height: 60px
		color: #FFF 
		+tr(all .2s linear)
.design__article
	margin: 0 -30px 45px 0
	font-size: 0
.design__article-box
	display: inline-block
	width: 300px
	margin: 0 20px 30px 0
	vertical-align: top
	&:hover
		.design__article-pic
			opacity: .7 
.design__article-box_width_2
	width: 560px
.design__article-pic
	height: 240px 
	+tr(opacity .2s linear)
	img
		display: block
.design__article-in
	min-height: 60px 
	padding: 15px 20px 
	background: #dbe5ea 
.design__article-title
	margin-bottom: 10px
	+fl
	font-size: 16px
	line-height: 1
	color: #333 
.design__article-date
	font-size: 10px
	color: #A0A7AB
	
//cart
.cart__table
	margin-bottom: 40px
	width: 100%
	td
		padding: 0 0 15px 20px
		vertical-align: top
		&:first-child
			padding: 0 0 15px 
	.field__input, .field__label
		display: inline-block
		vertical-align: middle
	.field__input
		margin-right: 5px
		input
			width: 40px
			height: 24px
			padding: 0 5px
			background: #DBE5EA
	.field__label
		font-size: 10px
		text-transform: uppercase
.cart__pic
	width: 190px
	border: 1px solid #dce0e3
	img
		display: block
.cart__title
	a
		+fl
		font-size: 22px
		color: $red 
		text-decoration: underline
.cart__label
	margin-bottom: 10px
	text-transform: uppercase
	font-size: 12px 
.cart__price 
	font-size: 0
	strong, span
		display: inline-block
		vertical-align: middle
	strong
		margin-right: 5px
		font-weight: normal 
		line-height: 1.1
		+fl
		font-size: 22px
	span
		font-size: 10px
		text-transform: uppercase
.cart__price-total
	strong
		color: $red 
.cart__btn-delete
	+s(cart-delete)
.cart__btns
	margin-bottom: 60px
	+clr
	.btn
		height: 54px
.cart__btn-catalog
	position: relative
	float: left
	width: 425px
	overflow: visible
	i
		position: absolute
		top: 15px
		left: 45px 
		+s(cart-back) 
.cart__btn-recalc
	float: right
	i
		+s(cart-recalc) 
.cart__order
	margin-bottom: 40px
	+clr
.cart__order-column
	float: left
	width: 425px
	&:first-child
		margin-right: 30px
	.field
		margin-bottom: 15px
	.btn
		width: 100%
		height: 54px
		margin-top: 10px
.cart__order-help
	font-size: 11px
	color: #607782
	span
		color: $red 


//more	 
.more
	button
		width: 100%
		height: 54px  
		background: $red
		+fl
		color: #FFF
		text-transform: uppercase
		
.content
	margin-bottom: 30px
	font-size: 13px
	p, ul
		margin-bottom: 15px
	ul
		li
			position: relative
			padding-left: 13px
			margin-bottom: 5px
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 0
				+s(content-list-arr)
	table
		width: 100%
		margin: 30px 0
		td, th
			padding: 10px
			border: 1px solid #dbe5ea
			font-size: 11px
			text-transform: uppercase
		th
			background: $red
			color: #fff  
			font-weight: normal
			text-align: left
		td, a
			color: #617883 

.share
	margin-bottom: 60px
	font-size: 0
.share__title, .share__list
	display: inline-block
	vertical-align: top
.share__title	
	margin: 5px 20px 0 0 
	font-size: 10px
	text-transform: uppercase
.share__list
	li
		display: inline-block
		margin-right: 2px
		vertical-align: top
	a
		display: block
		width: 18px
		height: 21px
		line-height: 21px 
		text-align: center
	i
		display: inline-block
		vertical-align: middle
.share__fb
	+s(share-fb)
.share__tw
	+s(share-tw)
.share__gp
	+s(share-gp)

.pagination
	margin-bottom: 30px
	+clr	
	text-align: center
	a
		height: 38px
		line-height: 38px
		color: $red
		text-transform: uppercase
		font-size: 10px 
.pagination__prev, .pagination__next
	h
	i
		float: left
.pagination__prev
	float: left
	i
		float: left
		margin-right: 30px
		+s(pagination-prev)
.pagination__next
	float: right
	i
		float: right
		margin-left: 30px
		+s(pagination-next)
.pagination__link
	display: inline-block
	
.about
	height: 560px - 175px
	padding-top: 175px 
	margin-bottom: 30px 
.about__title
	position: relative
	padding: 0 0 5px 25px 
	border-left: 1px solid rgb(255,255,255) 
	border-left: 1px solid rgba(255,255,255,.55) 
	font-weight: bold
	color: #FFF 
	text-transform: uppercase
	line-height: 1
	&:before
		content: ""
		position: absolute
		top: 0
		left: 2px
		bottom: 0
		border-left: 1px solid rgb(255,255,255) 
		border-left: 1px solid rgba(255,255,255,.55) 
.about__title-name
	font-size: 90px
.about__title-desc
	font-size: 24px 
	
.box-wrap
	overflow: hidden
.box-wrap__in
	margin: 0 -40px 10px 0
	overflow: hidden
.box
	position: relative
	float: left
	margin: 0 20px 20px 0
	img
		display: block
.box_width_1
	width: 280
.box_width_2
	width: 580
.box_height_1
	width: 240
.box_height_2
	width: 500
.box__content
	width: 220px
	height: 180px
	padding: 30px
	background: #e9f0f4 
.box__content_less
	width: 210px
.box__title
	margin-bottom: 25px
	line-height: 1
	font-size: 25px
	color: #302E8A
.box__text
	color: #333 
.box__in
	position: absolute
	left: 45px
	bottom: 35px
	right: 45px
	padding: 20px
	background: #FFF  
	text-align: center
.box__in-title
	+fl
	font-size: 60px 
	color: $red 
.box__category, .box__place
	font-size: 10px
	text-transform: uppercase
	color: #363432 
.box__category
	position: relative
	margin-bottom: 10px
	padding: 0 85px
	&:after, &:before
		content: ""
		position: absolute
		top: 5px
		width: 70px
		border-bottom: 1px solid #dbe5ea 
	&:after
		left: 0
	&:before
		right: 0
.box__place
	margin-bottom: 10px
	padding: 0 7px
.box__price
	font-size: 17px
	color: $red 
	span
		margin-left: 5px
		font-size: 12px

//sorting
.sorting
	margin-bottom: 30px
	+clr
.sorting_salons
	.sorting__item
		width: auto
	.sorting__label	
		float: left
		margin: 0 20px 0 0
		height: 36px
		line-height: 36px
	.select
		float: left
		width: 270px
.sorting__item
	float: left
	width: 280px
	margin-left: 20px
	&:first-child
		margin: 0
.sorting__item_link
	float: right
	a
		color: #233C48 
		line-height: 1
		border-bottom: 2px solid 
.sorting__label
	margin-bottom: 10px
	font-size: 11px
	color: #617883
	text-transform: uppercase 
	
//catalog
.catalog
	margin-bottom: 10px
	overflow: hidden
.catalog__in
	margin-right: -25px
	font-size: 0
.catalog__item
	position: relative
	display: inline-block
	width: 280px
	height: 280px
	margin: 0 20px 20px 0
	background: #FFF 
	box-shadow: 0 0 0 1px #dce0e3 inset
	vertical-align: top	
	img
		display: block		
	& > a
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 280px
	&:nth-child(3n)
		.catalog__list
			left: auto
			right: 280px
	&:hover
		.catalog__title
			span
				height: 250px
		.catalog__list
			width: 300px
		.catalog__product
			width: 280px
.catalog__list
	position: absolute
	top: 0
	left: 280px
	width: 0
	min-height: 280px
	background: #5A5A59
	overflow: hidden
	z-index: 10 
	+tr(width .2s linear)
	ul
		width: 300px
		padding: 20px 30px				
	li
		margin-bottom: 10px
		font-size: 11px
		color: #FFF
		text-transform: uppercase 
	a
		color: #FFF
		text-decoration: underline	
.catalog__title
	position: absolute
	bottom: 0
	left: 0
	width: 280px	
	span
		display: table-cell
		width: 250px
		padding: 15px 
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.7) 
		+fl
		font-size: 22px
		color: #FFF 
		text-align: center
		vertical-align: middle
		line-height: 1.2
		+tr(all .2s linear)
.catalog__product
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 0
	overflow: hidden
	+tr(width .2s linear)
.catalog__product-in
	position: relative
	width: 280px
	height: 280px
	background: rgb(0,0,0) 
	background: rgba(0,0,0,.7)
.catalog__product-price
	position: absolute
	bottom: 20px
	left: 15px
	right: 0
	text-align: center
	strong, span, i
		display: inline-block
		vertical-align: middle
	strong
		position: relative
		height: 40px
		padding: 0 6px
		line-height: 40px
		background: #FFF
		font-size: 29px
		+fl
		color: $red  
		font-weight: normal
		&:before
			content: ""
			position: absolute
			top: 0
			left: -15px
			+arr(15,40,white,l)
		i
			margin-left: 3px
			font-style: normal
			font-size: 10px
			text-transform: uppercase
			color: #333 
	span
		margin-left: 20px
		font-size: 10px
		text-transform: uppercase
		color: #FFF 
.catalog__product__title
	position: absolute
	bottom: 70px
	left: 35px
	right: 35px
	+fl
	font-size: 20px
	color: #FFF  
 
		
//cart-stats
.cart-stats
	margin-bottom: 10px
	padding: 10px
	border: 4px solid #fff
	+clr
	.btn
		float: right
		margin-left: 10px
.cart-stats__title
	position: relative
	float: left
	margin: -14px 10px -14px -14px
	background: #FFF
	height: 64px
	padding: 0 30px 0 70px
	line-height: 64px 
	i
		position: absolute
		top: 21px
		left: 30px
		+s(cart-stats-ico) 
.cart-stats__value	
	height: 36px
	line-height: 36px
	text-align: center
	overflow: hidden
	span
		position: relative
		display: inline-block
		padding: 0 15px
		font-size: 15px
		&:after, &:before
			content: ""
			position: absolute
			top: 17px
			width: 800px
			height: 1px
			background: #bdcfd8 
		&:after
			left: 105%
		&:before
			right: 105%
		

//search-prod
.search-prod
	margin-bottom: 40px
	padding: 20px 20px 0
	background: #DAE5EC
.search-prod__row
	padding-bottom: 20px
	+clr
.search-prod__item
	float: left
	width: 270px
	margin-left: 15px
	&:first-child
		margin: 0
	.btn
		width: 100%
		margin-top: 22px
.search-prod__label
	margin-bottom: 7px
	font-size: 11px
	text-transform: uppercase
	color: #617883 
.search-prod__head
	padding-bottom: 20px
	font-size: 11px
	text-transform: uppercase
	color: #617883
	+clr
.search-prod__title
	float: left
	margin-right: 60px 
	border-bottom: 2px solid 
	color: #233c48 
.search-prod__type
	float: left
	li, a, span
		float: left			
	a
		border-bottom: 1px solid
		color: #617883
		&.is-active
			border: none
			color: #8ca4b0 
			cursor: default
	span
		margin: 0 10px
.search-prod__slide	
	position: relative
	float: right
	padding-right: 40px
	cursor: pointer
	i
		position: absolute
		top: 2px
		right: 2px
		+tr(all .2s linear)
		+s(select-arr)
	&.is-active
		i
			+rotate(-180deg)
.search-prod__form
	padding-bottom: 20px
	+clr
	input
		float: left
		width: 500px
		height: 36px
		padding: 0 35px
		+ph(#8ca4b0)
		font-size: 13px
	button
		float: left
		width: 270px
		
.subscribe
	padding: 15px
	margin-bottom: 30px
	background: #DBE5EA  
.subscribe__title
	margin-bottom: 10px
	text-transform: uppercase
	font-size: 11px
	color: #607782 
.subscribe__social
	margin-bottom: 12px
	+clr
	li
		float: left
		margin-right: 12px
	a
		display: block
.subscribe__fb
	+s(subscribe-fb)
.subscribe__tw
	+s(subscribe-tw)
.subscribe__form
	input
		float: left
		width: 125px
		height: 36px
		padding: 0 15px
	.btn
		width: 85px
		padding: 0
		font-size: 11px
		
//product
.product
	+clr
.product__slider
	float: left
	margin-right: 30px
.product__info
	overflow: hidden
.product__price
	margin-bottom: 30px
	padding-left: 30px
	text-align: center
	strong, span
		display: inline-block
		vertical-align: middle
	i
		vertical-align: top
	strong
		position: relative
		height: 66px
		padding: 0 15px
		line-height: 66px
		background: #FFF
		font-size: 36px
		+fl
		color: $red  
		font-weight: normal
		&:before
			content: ""
			position: absolute
			top: 0
			left: -30px
			+arr(30,66,white,l)
		i
			margin-left: 15px
			font-style: normal
			font-size: 10px
			text-transform: uppercase
			color: #333 
	span
		margin-left: 50px
		font-size: 16px
		text-transform: uppercase
		color: #302e8a 
.product__buy
	margin-bottom: 35px
	.btn
		width: 100%
.product__parameters
	padding: 15px 30px 
	background: #FFF 
.product__table
	width: 100%
	margin-bottom: 30px
	tr
		&:first-child
			td
				border: none
	td
		padding: 7px 5px
		border-top: 1px solid #d5dbdf 
		font-size: 12px
		text-transform: uppercase
		
.video
	margin-bottom: 30px
	
.back-link
	height: 12px
	margin-bottom: 50px
	border-bottom: 1px solid #dce0e3 
	font-size: 0
	a
		display: inline-block
		position: relative
		height: 23px
		background: #fff 
		line-height: 23px
		padding: 0 20px 0 26px
		font-size: 12px
		text-transform: uppercase
		color: #363432 
	i
		position: absolute
		top: 0
		left: 0
		+s(arr-slider-prev-red)


.brands
	margin-bottom: 60px
	overflow: hidden
.brands__in
	margin: 0 -30px 20px 0
	overflow: hidden
	li
		position: relative
		float: left
		width: 276px
		height: 276px
		margin: 0 26px 26px 0
		background: #fff 
		box-shadow: 0 0 0 1px #dce0e3 inset
		text-align: center
		line-height: 276px - 58px 
		+gpu
		a
			display: block
		span
			position: absolute
			left: 1px
			right: 1px
			bottom: 1px
			height: 58px
			background: #DBE5EA
			line-height: 58px   
			text-transform: uppercase
			color: #607782
			font-size: 10px 
			+tr(all .2s linear)
		img
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
			filter: gray
			-webkit-filter: grayscale(100%)
			vertical-align: middle
		&:hover
			img
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale")
				-webkit-filter: grayscale(0%)
			span
				background: $red 
				color: #FFF 

.partnership
	width: 420px
	margin-bottom: 30px
.partnership__title
	margin-bottom: 15px
	font-size: 16px
	text-transform: uppercase
.partnership__select-head
	position: relative
	height: 68px 
	padding: 0 70px 0 25px
	background: $red 
	font-size: 12px
	line-height: 68px
	color: #FFF 
	&:after
		content: ""
		position: absolute
		top: 29px
		right: 29px
		+s(partnership-select-arr)

//map
.map
	position: relative
	margin-bottom: 20px
	z-index: 8
.map__el
	position: absolute
	min-width: 32px
	z-index: 100 
.map__point
	margin: 0 auto
	+s(map-point)
.map__el-in
	width: 530px 
	margin-bottom: -30px
	background: #e52914 
.map__el-head
	background: #FFF 
	font-size: 0
.map__el-pic, .map__el-title
	display: inline-block
	width: 50%
	vertical-align: top
.map__el-pic
	img
		width: 100%
.map__el-title
	span
		display: block
		padding: 14px 18px
		+fl	
		font-size: 22px
		color: #5E5D5B  
.map__el-body
	padding: 20px 20px 30px
.map__address
	margin-top: 15px
	padding-top: 15px 
	border-top: 1px solid rgb(255,255,255)
	border-top: 1px solid rgba(255,255,255,.4)
	font-size: 0
	&:first-child
		margin: 0
		padding: 0
		border: none
.map__address-column
	display: inline-block
	vertical-align: top
	width: 50%	
	font-size: 13px
	color: #FFF 
	a
		color: #FFF 
.map__address-title
	margin-bottom: 5px
	text-transform: uppercase
	font-size: 13px
	color: #fff 

.contacts__row
	margin-bottom: 30px
	font-size: 0
	&:first-child
		margin-bottom: 10px
.contacts__span
	display: inline-block
	width: 48%
	vertical-align: top
	font-size: 13px
	&:first-child
		margin-right: 4%
	.title-border
		margin-bottom: 10px
	.title-border__in
		padding-bottom: 10px
.contacts__item-bg
	padding: 15px 20px
	background: #dbe5ea 
.contacts__item
	padding: 15px 20px 15px 0
.contacts__mail
	a
		color: #617883
		text-decoration: underline 
.contacts__section
	margin-bottom: 2px
	font-size: 16px
	text-transform: uppercase
	color: #363432 
.contacts__category
	color: #617883 
.contacts__phone
	margin-bottom: 6px
	
//callback
.callback
	font-size: 0
.callback__column
	display: inline-block
	width: 580px
	vertical-align: top
	&:first-child
		width: 270px
		margin-right: 30px  
	.field
		margin-bottom: 30px
.callback__footer
	+clr
	.field, .field__label, .field__input
		float: left
	.field__label
		height: 36px
		margin-right: 10px
		line-height: 32px
		text-transform: uppercase
		color: #607782
		+fl
		font-size: 20px 
	.field__input
		width: 90px
	.btn
		float: right
		
//diller
.diller
	& > .title
		padding-top: 15px
	.l
		margin: 0
.diller__discount
	margin-bottom: 35px
	+clr
	li
		float: left
		width: 280px
		padding: 15px 45px 
		background: #dae5ec 
		&:first-child
			margin-right: 40px 
	strong
		display: block
		margin-bottom: 5px
		font-weight: normal
		font-size: 20px
		text-transform: uppercase
		+fl
	span
		font-size: 13px
		color: #617883
.diller__content
	padding: 30px 50px
	background: #fff 
.diller__block
	padding: 25px 40px 
	margin-bottom: 35px
	background: #FFF 
.diller__reminder
	p
		font-size: 13px
		margin-bottom: 10px
		color: #617883 
.diller__table
	width: 100%
	td, th
		vertical-align: top		 
		&:first-child
			border-right: 1px solid #ecf2f5 
	th
		padding: 0 0 10px 10px
		font-weight: normal		
		text-align: left
		text-transform: uppercase
		font-size: 11px
		&:first-child
			padding: 0 0 10px 
	td, a
		color: #617883 
		font-size: 13px
	td
		min-width: 115px
		padding: 10px 0 10px 10px
		border-top: 1px solid #ecf2f5
		&:first-child
			padding: 10px 10px 10px 0
.diller__nav
	margin-bottom: 40px
	overflow: hidden
	ul
		overflow: hidden
		margin-right: -50px
	li
		float: left
		width: 370px 
		margin: 0 40px 35px 0
	a
		display: table-cell
		width: 300px
		height: 66px
		padding: 0 35px
		font-size: 20px
		text-align: center
		vertical-align: middle
		line-height: 1.1  
.diller__tabs-nav
	display: table
	width: 100%
	margin-bottom: 10px
	ul
		display: table-row
	li
		display: table-cell
		border-left: 1px solid #c2cfd5
		&:first-child
			border: none
	a
		display: block
		height: 64px
		padding: 0 25px
		line-height: 64px
		font-size: 12px
		color: #233C48
		text-transform: uppercase 
		text-align: center
		&.is-active
			background: #E9F0F4 
			color: #607782
			cursor: default
.diller__tabs-date
	margin-bottom: 30px
	span
		display: block
		width: 168px
		height: 38px
		background: #e9f0f4 
		border: 1px solid #cfd6da
		line-height: 38px
		text-align: center
		font-size: 13px
		color: #363432 
.diller__tabs-info	
	margin-bottom: 60px
	
//pager
.pager
	height: 17px
	margin-bottom: 80px
	border-bottom: 1px solid #e9f0f4 
	text-align: right
.pager__in
	display: inline-block
	padding-left: 35px
	background: #fff 
	vertical-align: top
	a
		display: inline-block
		height: 35px
		padding: 0 7px
		line-height: 35px
		vertical-align: middle
		color: $red 
		&.is-active
			background: $red
			color: #fff  
	.pager__prev
		+s(arr-slider-prev-red)
	.pager__next
		+s(arr-slider-next-red)