@import "base"
//styles for inner pages
.substrate
	position: absolute
	top: 110px
	left: 0
	right: 0
	height: 645px
	background: #e9f0f4
	+cover
	z-index: 5 
	+rt(999)
		display: none
.substrate_section
	+rt(999)
		display: block
		top: 230px
		height: 480px
.substrate__top
	position: relative
	height: 64px
	background: #dbe5ea 	 
	z-index: 20 
.substrate__top-mod
	background: rgb(0,0,0) 
	background: rgba(0,0,0,.3) 

.nav-inner
	margin-bottom: 30px
	li
		border-top: 1px solid #e9f0f4 
		&:first-child
			border: none
		&.is-active, &:hover
			a
				background: #333
				color: #fff  
	a
		display: table-cell
		width: 210px
		height: 64px
		padding: 0 25px 0 35px
		background: #FFF
		+tr(all .2s linear)
		vertical-align: middle
		text-transform: uppercase
		color: #333
		+fl
	+rt(999)
		display: none
.nav-inner_drop
	position: relative
	margin: 0
	overflow: hidden
	.nav-inner__list
		position: absolute
		top: 64px
		left: 0
		right: 0
		z-index: 500 		
		li
			height: 0
			overflow: hidden
			+tr(height .2s linear)
	&:hover
		overflow: visible
		.nav-inner__list
			li
				height: 64px

.nav-inner__title
	position: relative
	height: 64px
	padding: 0 80px 0 35px
	background: #363432
	text-transform: uppercase
	color: #fff   
	font-size: 14px
	line-height: 64px
	cursor: pointer
	i
		position: absolute
		top: 20px
		right: 35px
		+s(nav-inner-ico) 
		
.bc
	position: relative
	display: table
	margin-bottom: 20px
	z-index: 20 
	ul
		display: table-row
		width: 100%
		height: 64px		
		font-size: 0
		vertical-align: middle
	li
		display: table-cell
		height: 64px
		vertical-align: middle
		&.is-active
			box-shadow: 0 -2px 0 0 #607782 inset 
	a, span
		display: inline-block
		font-size: 10px
		color: #607782
		text-transform: uppercase 
		vertical-align: middle
	a
		&:hover
			color: #8CA4B0 
	span
		color: #8CA4B0 
	i
		display: inline-block
		margin: 0 10px 5px
		+arr(4,6,#607782,r)
		vertical-align: bottom
	+rt(999)
		display: none
.bc_white
	li
		&.is-active
			box-shadow: 0 -2px 0 0 #fff inset
	a, span
		color: #FFF 
	a
		&:hover
			color: #fff 
			opacity: .7 
	i
		border-color: transparent transparent transparent #fff
		
.btn-list
	margin-bottom: 30px
	+clr
	+rt(999)
		margin-bottom: 10px
	li
		float: left
		width: 49%
		background: #DBE5EA 			
		&:first-child
			margin-right: 2%
		&.is-active
			background: #607782
			span
				color: #fff 
		+rt(999)
			width: 100%
			margin: 0 0 10px
			&:first-child
				margin: 0 0 10px 
	a
		display: block
		height: 74px
		padding: 0 10px
		font-size: 0		 
		line-height: 74px
		text-align: center
		background: $red
		+tr(background .2s linear)
		span
			color: #FFF 
		&:hover
			background: $redh
	.ico
		margin-right: 12px 
	span
		display: inline-block
		vertical-align: middle
		+fl
		font-size: 20px
		color: #363432
		text-transform: uppercase
		line-height: 1.2
.btn-list_down
	margin: 30px 0 0 0
		

.designer
	min-height: 560px
	margin-bottom: 30px 	
	+rt(999)
		min-height: 0	
.design
	margin-bottom: 60px
	overflow: hidden
.design__people
	margin: 0 -30px 45px 0
	+rt(999)
		margin: 0
	li
		position: relative
		float: left
		width: 280px
		margin: 0 20px 20px 0
		overflow: hidden
		&:hover
			span
				height: 280px
				line-height: 280px 
	img, a
		display: block
		width: 100%
	span
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 60px
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.7) 
		text-align: center
		line-height: 60px
		color: #FFF 
		+tr(all .2s linear)
	+rt(1200)
		li
			width: 235px
			&:hover
				span
					height: 235px
					line-height: 235px
	+rt(999)
		li
			width: 300px
			&:hover
				span
					height: 300px
					line-height: 300px
		
//article
.article
	overflow: hidden
.article__wrap
	margin: 0 -30px 0 0
	font-size: 0
	+rt(999)
		margin: 0
		text-align: center
.article__box
	position: relative
	display: inline-block
	width: 300px
	margin: 0 20px 30px 0
	vertical-align: top
	overflow: hidden
	&:hover
		.article__in
			background: $red
		.article__title
			color: #FFF
		.article__date
			color: #FFF 
	+rt(1200)
		width: 250px
	+rt(999)
		width: 300px
		margin: 0 0 20px
		text-align: left
.article__box_width_2
	width: 560px
	.article__category
		max-width: 540px
	+rt(1200)
		width: 480px
	+rt(999)
		width: 300px
.article__pic
	height: 240px 
	+tr(opacity .2s linear)
	img
		display: block
.article__category
	position: absolute
	top: 10px
	left: 10px
	max-width: 280px
	padding: 10px 15px 8px
	background: #FFF
	text-transform: uppercase
	color: #333
	font-size: 11px    
	line-height: 1
.article__in
	min-height: 60px
	padding: 15px 20px 
	background: #dbe5ea 
	+tr(background .2s linear)
.article__title
	margin-bottom: 10px
	+fl
	font-size: 16px
	line-height: 1
	color: #333
	+tr(color .2s linear) 
.article__date
	font-size: 10px
	color: #A0A7AB
	+tr(color .2s linear)
	
//cart
.cart__table
	margin-bottom: 40px
	width: 100%
	.cart__row
		position: relative
		display: table-row
		+rt(999)
			display: block
			margin-bottom: 10px
			padding: 0 10px
			background: #dbe5ea 
	.cart__cell
		display: table-cell
		padding: 0 0 15px 20px
		vertical-align: top
		+rt(999)
			display: block
			padding: 10px 10px 10px 0
			border-bottom: 1px solid #c1ced5 
		&:first-child
			padding: 0 0 15px 
			+rt(999)
				display: none
		&:nth-child(2),
		&:nth-child(5),
		&:nth-child(6)			
			border: none
		&:nth-child(6)
			padding: 0 
	.field__input, .field__label
		display: inline-block
		vertical-align: middle
	.field__input
		margin-right: 5px
		input
			width: 40px
			height: 24px
			padding: 0 5px
			background: #DBE5EA
			+rt(999)
				background: #E9F0F4 
	.field__label
		font-size: 10px
		text-transform: uppercase
	.cart__label, .cart__price, .field
		+rt(999)
			display: inline-block
			margin: 0 10px 0 0
			vertical-align: middle
.cart__pic
	width: 190px
	border: 1px solid #dce0e3
	img
		display: block
.cart__title
	a
		+fl
		font-size: 22px
		color: $red 
		text-decoration: underline
		&:hover
			color: #617883
.cart__label
	margin-bottom: 10px
	text-transform: uppercase
	font-size: 12px 
	+rt(999)
		display: inline-block
		margin: 0 10px 0 0
		vertical-align: middle
.cart__price 
	font-size: 0
	white-space: nowrap
	strong, span
		display: inline-block
		vertical-align: middle
	strong
		margin-right: 5px
		font-weight: normal 
		line-height: 1.1
		+fl
		font-size: 22px
	span
		font-size: 10px
		text-transform: uppercase
.cart__price-total
	strong
		color: $red 
.cart__btn-delete
	+s(cart-delete)
	&:hover
		+s(cart-delete-h)
	+rt(999)
		position: absolute
		top: 10px
		right: 10px
.cart__btns
	margin-bottom: 60px
	+clr
	.btn
		height: 54px
		background: $red
		&:hover
			background: $redh 
.cart__btn-catalog
	position: relative
	float: left
	width: 425px
	overflow: visible
	i
		position: absolute
		top: 15px
		left: 45px 
		+s(cart-back) 
	+rt(999)
		display: none
.cart__btn-recalc
	float: right
	i
		+s(cart-recalc) 
	+rt(999)
		float: none
		width: 100%
.cart__order
	margin-bottom: 40px
	+clr
	+rt(999)
		margin: 0
.cart__order-column
	overflow: hidden
	+rt(999)
		display: none
	&:first-child
		float: left
		width: 425px
		margin-right: 30px
		+rt(999)
			float: none
			display: block
			width: 100%
	.field
		margin-bottom: 15px
	.btn
		width: 100%
		height: 54px
		margin-top: 10px
		background: $red
		&:hover
			background: $redh 
.cart__order-help
	font-size: 11px
	color: #607782
	span
		color: $red 


//more	 
.more
	button
		width: 100%
		height: 54px  
		background: $red
		+fl
		color: #FFF
		text-transform: uppercase
		+tr(background .2s linear)
		&:hover
			background: $redh 
		
.content
	margin-bottom: 30px
	font-size: 13px
	h1, h2, h3
		text-transform: uppercase
		font-weight: normal
		line-height: 1.2
	h1
		+fl	
		font-size: 18px
	h2
		font-size: 16px
	h3
		font-size: 14px
	p, ul, h1, h2, h3
		margin-bottom: 15px
	ul
		li
			position: relative
			padding-left: 13px
			margin-bottom: 5px
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 0
				+s(content-list-arr)
	table
		width: 100%
		margin: 30px 0
		+rt(999)
			display: none
		td, th
			padding: 10px
			border: 1px solid #dbe5ea
			font-size: 11px
			text-transform: uppercase
		th
			background: $red
			color: #fff  
			font-weight: normal
			text-align: left
		td, a
			color: #617883 

.share
	margin-bottom: 60px
	font-size: 0
.share__title, .share__list
	display: inline-block
	vertical-align: middle
.share__title	
	margin: 0 20px 0 0 
	font-size: 10px
	text-transform: uppercase
.share__list
	li
		display: inline-block
		margin-right: 2px
		vertical-align: top
	a
		display: table-cell
		width: 18px
		height: 21px
		vertical-align: middle
		text-align: center
		+tr(background .2s linear)
		&:hover
			background: $red 
			.share__fb
				+s(share-fb-h)
			.share__tw
				+s(share-tw-h)
			.share__gp
				+s(share-gp-h)
	i
		display: inline-block
		vertical-align: middle
.share__fb
	+s(share-fb)
.share__tw
	+s(share-tw)
.share__gp
	+s(share-gp)

.pagination
	margin-bottom: 30px
	+clr	
	text-align: center
	a
		height: 38px
		line-height: 38px
		color: $red
		text-transform: uppercase
		font-size: 10px 
	.pagination__prev, .pagination__next
		+tr(color .2s linear)
		i
			display: inline-block
			vertical-align: middle
		&:hover
			color: #607782 
		+rt(999)
			+ht
.pagination + .title-border
	margin-top: 50px
.pagination__prev
	float: left
	i
		margin-right: 30px
		+s(pagination-prev)
		+rt(999)
			margin: 0
.pagination__next
	float: right
	i
		margin-left: 30px
		+s(pagination-next)
		+rt(999)
			margin: 0
.pagination__link
	display: inline-block
	padding: 0 20px
	vertical-align: middle
	+tr(all .2s linear)
	&:hover
		background: $red
		color: #FFF  
	
.about
	height: 560px - 175px
	margin-bottom: 30px 
	padding-top: 175px
	+rt(999)
		height: auto
		padding: 0
		background: url(../img/main-pic-bg.jpg)
		+cover	 
		margin: -10px -10px 20px
.about__title
	position: relative
	padding: 0 0 5px 25px 
	border-left: 1px solid rgb(255,255,255) 
	border-left: 1px solid rgba(255,255,255,.55) 
	font-weight: bold
	color: #FFF 
	text-transform: uppercase
	line-height: 1
	&:before
		content: ""
		position: absolute
		top: 0
		left: 2px
		bottom: 0
		border-left: 1px solid rgb(255,255,255) 
		border-left: 1px solid rgba(255,255,255,.55)
	+rt(999)
		padding: 20px 10px
		&:before
			display: none 
.about__title-name
	font-size: 90px
	+rt(999)
		font-size: 60px
.about__title-desc
	font-size: 24px 
	+rt(999)
		font-size: 15px
	
.box-wrap
	overflow: hidden
.box-wrap__in
	margin: 0 -40px 10px 0
	overflow: hidden
	+rt(999)
		text-align: center
		margin: 0
.box
	position: relative
	float: left
	margin: 0 20px 20px 0
	overflow: hidden
	img
		display: block
		+rt(999)
			width: 100%
	+rt(999)
		float: none
		margin: 0 0 20px
		display: inline-block
		vertical-align: top
		text-align: left
.box_width_1
	width: 280px
	+rt(1200)
		width: 235px
	+rt(999)
		width: 300px
	.box__overlay-in
		width: 280px
		+rt(1200)
			width: 235px
		+rt(999)
			width: 300px
.box_width_2
	width: 580px
	+rt(1200)
		width: 490px 
	+rt(999)
		width: 300px
	.box__overlay-in
		width: 580px
		+rt(1200)
			width: 490px 
		+rt(999)
			width: 300px
.box_height_1
	height: 240px
	+rt(999)
		height: auto
	.box__overlay-in
		height: 240px
		+rt(999)
			height: auto
.box_height_2
	height: 500px
	+rt(999)
		height: auto
	.box__overlay-in
		height: 500px
		+rt(999)
			height: auto
.box__overlay
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0,.7) 
	opacity: 0
	+tr(opacity .2s linear)
	&:hover
		opacity: 1 
	+rt(999)
		display: none
.box__overlay-in
	display: table-cell
	padding: 30px
	color: #FFF 
	vertical-align: middle
	+box
	+rt(1200)
		font-size: 12px
.box__overlay-title
	margin-bottom: 15px
	+fl
	font-size: 17px
	text-transform: uppercase
	+rt(1200)
		font-size: 15px
.box__content
	height: 180px
	padding: 30px
	background: #e9f0f4 
	+tr(background .2s linear)
	&:hover
		background: $red 
		.box__title, .box__text
			color: #FFF 
	+rt(1200)
		height: 220px 
		padding: 10px
	+rt(999)
		height: auto
		padding: 10px
.box__content_less
	width: 210px
.box__title
	margin-bottom: 25px
	line-height: 1
	font-size: 25px
	color: $red
	+rt(999)
		margin-bottom: 10px
.box__text
	color: #333 
.box__in
	position: absolute
	left: 45px
	bottom: 35px
	right: 45px
	padding: 20px
	background: #FFF  
	text-align: center
	+tr(background .2s linear)
	&:hover
		background: $red
		.box__in-title, .box__category, .box__place, .box__price
			color: #FFF
	+rt(1200)
		right: 0
		left: 0
	+rt(999)
		position: relative
		left: auto
		right: auto
		bottom: auto
		padding: 10px 0 
		background: none 
		text-align: left
.box__in-title
	margin-bottom: 20px
	+fl
	font-size: 60px 
	color: $red 
	line-height: 1
	+rt(999)
		margin-bottom: 10px
		padding-bottom: 10px
		font-size: 30px
		border-bottom: 1px solid #c1ced5 
.box__category, .box__place
	font-size: 10px
	text-transform: uppercase
	color: #363432 
.box__category
	position: relative
	margin-bottom: 10px
	padding: 0 85px
	&:after, &:before
		content: ""
		position: absolute
		top: 5px
		width: 70px
		border-bottom: 1px solid #dbe5ea 
	&:after
		left: 0
	&:before
		right: 0
	+rt(999)
		padding: 0
		&:after, &:before
			display: none
.box__place
	margin-bottom: 10px
	padding: 0 7px
	+rt(999)
		padding: 0
		margin-bottom: 5px
.box__price
	font-size: 17px
	color: $red 
	span
		margin-left: 5px
		font-size: 12px

//sorting
.sorting
	margin-bottom: 30px
	+clr
	+rt(999)
		margin-bottom: 20px
.sorting_salons
	.sorting__item
		width: auto
		+rt(999)
			float: none
			white-space: nowrap
			font-size: 0
			+clr
	.sorting__label, .select
		float: none
		display: inline-block
		vertical-align: middle
	.sorting__label	
		margin: 0 20px 0 0
		height: 36px
		line-height: 36px
		white-space: normal
		+rt(999)
			float: none
			display: inline-block
			width: 100px
			height: auto
			vertical-align: middle
			min-height: 2px
			margin: 0 10px 0 0
			line-height: 1.2
	.select
		width: 270px
		white-space: normal
		+rt(1200)
			width: 210px
		+rt(999)
			float: none
			display: inline-block
			width: 190px
			vertical-align: middle
			

.sorting__item
	float: left
	width: 280px
	margin-left: 20px
	&:first-child
		margin: 0
	+rt(1200)
		width: 235px
	+rt(999)
		float: none
		width: auto
		margin: 0 0 10px 
		&:first-child
			margin: 0 0 10px
.sorting__item_no-label
	+rt(999)
		margin-left: 110px
.sorting__item_link
	float: right
	a
		color: #617883
		line-height: 1
		border-bottom: 2px solid
		&:hover
			color: #233C48
	.sorting__label
		margin: 0
	+rt(999)
		display: none
.sorting__label
	margin-bottom: 10px
	font-size: 11px
	color: #617883
	text-transform: uppercase 
	
//catalog
.catalog
	margin-bottom: 10px
	overflow: hidden
.catalog_adv 	
	+rt(1200)
		.catalog__item	
			width: 235px
			height: 235px
			.catalog__product
				display: none
	+rt(999)		
		text-align: center
		.catalog__item
			width: 300px
			height: 300px			
			margin: 0 0 20px
.catalog_products
	+rt(1200) 
		.catalog__item
			height: auto
			box-shadow: none
			img
				box-shadow: 0 0 0 1px #dce0e3
		.catalog__product
			width: 100%
		.catalog__product-in
			width: 100%
			height: auto
			padding: 10px 0
			background: none
			text-align: left 
		.catalog__product-title, .catalog__product-price
			position: relative
			top: auto
			left: auto
			bottom: auto
			right: auto
			text-align: left
		.catalog__product-title
			color: #333 
		.catalog__product-price
			span
				width: 115px
				height: 33px
				line-height: 33px
				text-align: center
				background: #333
				
.catalog__in
	margin: 0 -25px 20px 0
	font-size: 0
	+rt(999)
		margin: 0
		text-align: center
.catalog__item
	position: relative
	display: inline-block
	width: 280px
	height: 280px
	margin: 0 20px 20px 0
	background: #FFF 
	box-shadow: 0 0 0 1px #dce0e3 inset
	vertical-align: top	
	img
		display: block		
	& > a
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 280px
	&:nth-child(3n)
		.catalog__list
			left: auto
			right: 280px
	&:hover
		.catalog__title
			span
				height: 250px
		.catalog__list
			width: 300px
		.catalog__product
			width: 280px
	+rt(1200)
		width: 365px
		height: 365px
		img
			width: 100%
		& > a
			width: 365px
		.catalog__list
			display: none
		&:hover
			.catalog__title
				span
					height: auto
			.catalog__product
				width: 365px
	+rt(999)
		width: 300px
		height: 300px
		background: none 
		margin: 0 0 20px  
		& > a
			width: 300px
		&:hover
			.catalog__title
				span
					height: auto
			.catalog__product
				width: 300px
.catalog__list
	position: absolute
	top: 0
	left: 280px
	width: 0
	min-height: 280px
	background: #5A5A59
	overflow: hidden
	z-index: 10 
	+tr(width .2s linear)
	ul
		width: 300px
		padding: 20px 30px				
	li
		margin-bottom: 10px
		font-size: 11px
		color: #FFF
		text-transform: uppercase 
	a
		color: #FFF
		text-decoration: underline	
		+tr(color .2s linear)
		&:hover
			color: #c7d6dd 
	+rt(1200)
		left: 365px
		min-height: 365px
.catalog__title
	position: absolute
	bottom: 0
	left: 0
	width: 280px	
	span
		display: table-cell
		width: 250px
		padding: 15px 
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.7) 
		+fl
		font-size: 22px
		color: #FFF 
		text-align: center
		vertical-align: middle
		line-height: 1.2
		+tr(all .2s linear)
	+rt(1200)
		width: 365px
		span
			width: 335px
	+rt(999)
		width: 300px
		span
			width: 300px
.catalog__product
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 0
	overflow: hidden
	+tr(width .2s linear)
	+rt(1200)	
		position: relative
		width: auto
		background: none 
.catalog__product-in
	position: relative
	width: 280px
	height: 280px
	background: rgb(0,0,0) 
	background: rgba(0,0,0,.7)
.catalog__product-price
	position: absolute
	bottom: 20px
	left: 15px
	right: 0
	text-align: center
	strong, span, i
		display: inline-block
		vertical-align: middle
	strong
		position: relative
		height: 40px
		padding: 0 6px
		line-height: 40px
		background: #FFF
		font-size: 29px
		+fl
		color: $red  
		font-weight: normal
		&:before
			content: ""
			position: absolute
			top: 0
			left: -15px
			+arr(15,40,white,l)
		i
			margin-left: 3px
			font-style: normal
			font-size: 10px
			text-transform: uppercase
			color: #333 
		+rt(999)
			padding: 0
			background: none
	span
		margin-left: 20px
		font-size: 10px
		text-transform: uppercase
		color: #FFF 
.catalog__product-title
	position: absolute
	bottom: 70px
	left: 35px
	right: 35px
	+fl
	font-size: 20px
	color: #FFF  
 
		
//cart-stats
.cart-stats
	margin-bottom: 10px
	padding: 10px
	border: 4px solid #fff
	+clr
	.btn
		float: right
		margin-left: 10px
		+tr(background .2s linear)
		&:hover
			background: $red 
		+rt(999)
			float: none
			margin: 0
			width: 100%
	+rt(999)	
		padding: 0
.cart-stats__title
	position: relative
	float: left
	margin: -14px 10px -14px -14px
	background: #FFF
	height: 64px
	padding: 0 30px 0 70px
	line-height: 64px 
	i
		position: absolute
		top: 50%
		left: 30px
		margin-top: -10px
		+s(cart-stats-ico) 
	+rt(999)
		margin: 0
		float: none
		height: 30px
		line-height: 30px 
		padding: 0
		text-align: center
.cart-stats__value	
	height: 36px
	line-height: 36px
	text-align: center
	overflow: hidden
	span
		position: relative
		display: inline-block
		padding: 0 15px
		font-size: 15px
		&:after, &:before
			content: ""
			position: absolute
			top: 17px
			width: 800px
			height: 1px
			background: #bdcfd8 
		&:after
			left: 105%
		&:before
			right: 105%
		

//search-prod
.search-prod
	margin-bottom: 40px
	padding: 20px 20px 0
	background: #DAE5EC
.search-prod__row
	padding-bottom: 20px
	+clr
	+rt(999)
		padding: 0
.search-prod__in 
	display: none
.search-prod__item
	float: left
	width: 270px
	margin-left: 15px
	&:first-child
		margin: 0
	.btn
		width: 100%
		margin-top: 22px
	+rt(1200)
		width: 225px 
	+rt(999)
		float: none
		width: 100%
		margin: 0
		padding-bottom: 20px
.search-prod__label
	margin-bottom: 7px
	font-size: 11px
	text-transform: uppercase
	color: #617883 
.search-prod__head	
	position: relative
	padding-bottom: 20px
	font-size: 11px
	text-transform: uppercase
	color: #617883
	+clr
.search-prod__title
	float: left
	margin-right: 60px 
	border-bottom: 2px solid 
	color: #233c48 
.search-prod__type
	float: left
	li, a, span
		float: left			
	a
		border-bottom: 1px solid
		color: #617883
		&.is-active
			border: none
			color: #8ca4b0 
			cursor: default
		&:hover
			color: #8ca4b0 
	span
		margin: 0 10px
	+rt(999)
		float: none
		padding-top: 20px
		clear: both
.search-prod__slide	
	position: absolute
	top: 0
	right: 0
	padding-right: 40px
	cursor: pointer
	i
		position: absolute
		top: 2px
		right: 2px
		+tr(all .2s linear)
		+s(select-arr)
	&.is-active
		i
			+rotate(-180deg)
	&:hover
		color: #8ca4b0 
.search-prod__form
	padding-bottom: 20px
	+clr
	input
		float: left
		width: 70%
		height: 36px
		padding: 0 35px
		+box
		+rt(999)
			padding: 0 10px
	button
		float: left
		width: 30%
		padding: 0
		
.subscribe
	width: 245px
	padding: 15px
	margin-bottom: 30px
	background: #DBE5EA  
.subscribe__title
	margin-bottom: 10px
	text-transform: uppercase
	font-size: 11px
	color: #607782 
.subscribe__social
	margin-bottom: 12px
	+clr
	li
		float: left
		margin-right: 12px
	a
		display: block
.subscribe__fb
	+s(subscribe-fb)
	&:hover
		+s(subscribe-fb-h)
.subscribe__tw
	+s(subscribe-tw)
	&:hover
		+s(subscribe-tw-h)
.subscribe__form
	input
		float: left
		width: 125px
		height: 36px
		padding: 0 15px
	.btn
		width: 85px
		padding: 0
		font-size: 11px
		
//product
.product
	+clr
.product__slider
	float: left
	margin-right: 30px
	+rt(999)
		float: none
		width: 100%
		margin: 0 0 20px
.product__info
	overflow: hidden
	+rt(999)
		margin-bottom: 20px
.product__price
	margin-bottom: 30px
	padding-left: 30px
	text-align: center
	strong, span
		display: inline-block
		vertical-align: middle
	i
		vertical-align: top
	strong
		position: relative
		height: 66px
		padding: 0 15px
		line-height: 66px
		background: #FFF
		font-size: 36px
		+fl
		color: $red  
		font-weight: normal
		&:before
			content: ""
			position: absolute
			top: 0
			left: -30px
			+arr(30,66,white,l)
		i
			margin-left: 15px
			font-style: normal
			font-size: 10px
			text-transform: uppercase
			color: #333 
	span
		margin-left: 50px
		font-size: 16px
		text-transform: uppercase
		color: #302e8a
	+rt(999)
		padding: 0
		margin-bottom: 20px
		strong
			height: 40px
			padding: 0
			background: none
			line-height: 40px
			&:before
				display: none
.product__buy
	margin-bottom: 35px
	.btn
		width: 100% 
		background: $red 
		+tr(background .2s linear)
		&:hover
			background: $redh 
	+rt(999)
		margin-bottom: 20px
.product__parameters
	padding: 15px 30px 
	background: #FFF 
	+rt(999)
		padding: 10px
.product__table
	width: 100%
	margin-bottom: 30px
	tr
		&:first-child
			td
				border: none
	td
		padding: 7px 5px
		border-top: 1px solid #d5dbdf 
		font-size: 12px
		text-transform: uppercase
		
.video
	margin-bottom: 30px
	overflow: hidden
	img
		width: 100%

.back-link
	margin-bottom: 40px
	overflow: hidden
	font-size: 0
	a
		position: relative
		display: inline-block
		position: relative
		height: 23px
		line-height: 23px
		padding-left: 26px
		font-size: 12px
		text-transform: uppercase
		color: #363432 
		&:after
			content: ""
			position: absolute
			top: 11px
			left: 110%
			right: -2000px
			height: 1px
			background: #d5dbdf 
		&:hover
			color: #607782 
	i
		position: absolute
		top: 0
		left: 0
		+s(arr-slider-prev-red)


.brands
	margin-bottom: 30px
	overflow: hidden
.brands__in
	margin: 0 -30px 20px 0
	font-size: 0
	+rt(999)
		margin: 0 0 20px
		text-align: center
	li
		position: relative
		display: inline-block
		width: 276px
		height: 276px
		margin: 0 26px 26px 0
		background: #fff 
		box-shadow: 0 0 0 1px #dce0e3 inset
		text-align: center
		line-height: 276px - 58px 
		vertical-align: top
		+gpu
		a
			display: block
		span
			position: absolute
			left: 1px
			right: 1px
			bottom: 1px
			height: 58px
			background: #DBE5EA
			line-height: 58px   
			text-transform: uppercase
			color: #607782
			font-size: 10px 
			+tr(all .2s linear)
		img
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
			filter: gray
			-webkit-filter: grayscale(100%)
			vertical-align: middle
		&:hover
			img
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale")
				-webkit-filter: grayscale(0%)
			span
				background: $red 
				color: #FFF 
		+rt(1200)
			width: 235px
			height: 235px
			margin: 0 20px 20px 0
			line-height: 235px - 58px
		+rt(999)
			width: 300px
			height: 300px
			margin: 0 0 20px
			line-height: 300px - 58px 

.partnership
	max-width: 420px
	margin-bottom: 30px
	+rt(999)
		margin-bottom: 20px
.partnership__title
	margin-bottom: 15px
	font-size: 16px
	text-transform: uppercase
.partnership__select
	position: relative
	&:hover
		.partnership__list
			li
				height: 68px
.partnership__select-head
	position: relative
	height: 68px 
	padding: 0 70px 0 25px
	background: $red 
	font-size: 12px
	line-height: 68px
	color: #FFF 
	&:after
		content: ""
		position: absolute
		top: 29px
		right: 29px
		+s(partnership-select-arr)
.partnership__list
	position: absolute
	top: 100% 
	left: 0
	right: 0
	height: 68px
	z-index: 500
	li
		height: 0
		+tr(height .2s linear)
		overflow: hidden
	a
		display: table-cell
		width: 420px
		height: 68px
		border-top: 1px solid #c52d1c 
		background: #9A1A0B 
		padding: 0 25px
		vertical-align: middle
		color: #FFF 
		overflow: hidden
		+tr(background-color .2s linear)
		&:hover
			background: #C52D1C

//map
.map
	position: relative
	margin-bottom: 20px
	overflow: hidden
	z-index: 8
	+rt(999)
		display: none
#map-canvas
	width: 100%
	height: 670px
.map__el
	position: absolute
	min-width: 32px
	z-index: 100 
.map__point
	position: relative
	margin: 0 auto
	+s(map-point)
	cursor: pointer
	z-index: 100 
.map__el-in
	display: none
	position: absolute
	bottom: 20px
	left: -249px
	width: 530px 
	background: #e52914
	z-index: 50 
.map__el-head
	background: #FFF 
	font-size: 0
	cursor: pointer
.map__el-pic, .map__el-title
	display: inline-block
	width: 50%
	vertical-align: top
.map__el-pic
	img
		width: 100%
.map__el-title
	span
		display: block
		padding: 14px 18px
		+fl	
		font-size: 22px
		color: #5E5D5B  
.map__el-body
	padding: 20px 20px 30px
.map__address
	margin-top: 15px
	padding-top: 15px 
	border-top: 1px solid rgb(255,255,255)
	border-top: 1px solid rgba(255,255,255,.4)
	font-size: 0
	&:first-child
		margin: 0
		padding: 0
		border: none
.map__address-column
	display: inline-block
	vertical-align: top
	width: 50%	
	font-size: 13px
	color: #FFF 
	a
		color: #FFF 
.map__address-title
	margin-bottom: 5px
	text-transform: uppercase
	font-size: 13px
	color: #fff 
.map-list
	display: none
	margin-bottom: 30px
	background: #dbe5ea 
	+rt(999)
		display: block
	li
		border-top: 1px solid #e9f0f4
		&:first-child
			border: none 
	a
		display: block
		padding: 10px
		font-size: 16px
		color: #607782 


//contacts
.contacts__row
	margin-bottom: 30px
	font-size: 0
	&:first-child
		margin-bottom: 10px
.contacts__span
	display: inline-block
	width: 48%
	vertical-align: top
	font-size: 13px
	&:first-child
		margin-right: 4%
	.title-border
		margin-bottom: 10px
	.title-border__in
		padding-bottom: 10px
	+rt(999)
		display: block
		width: 100%
		margin: 0
		&:first-child
			margin: 0 
.contacts__text
	margin-bottom: 20px
.contacts__item-bg
	padding: 15px 20px
	background: #dbe5ea 
	+rt(999)
		padding: 10px
		margin: 0 -10px
.contacts__item
	padding: 15px 20px 15px 0
	+rt(999)
		padding: 10px 0
.contacts__mail
	a
		color: #617883
		text-decoration: underline 
.contacts__section
	margin-bottom: 2px
	font-size: 16px
	text-transform: uppercase
	color: #363432 
.contacts__category
	color: #617883 
.contacts__phone
	margin-bottom: 6px
	
//callback
.callback
	font-size: 0
.callback__column
	display: inline-block
	width: 580px
	vertical-align: top
	+rt(1200)
		width: 470px
	+rt(999)
		display: block
		width: auto
	&:first-child
		width: 270px
		margin-right: 30px  
		+rt(1200)
			width: 250px
		+rt(999)
			width: auto
			margin: 0
	.field
		margin-bottom: 30px
.callback__footer
	+clr
	.field, .field__label, .field__input
		float: left
	.field__label
		height: 36px
		margin-right: 10px
		line-height: 32px
		text-transform: uppercase
		color: #607782
		+fl
		font-size: 20px 
	.field__input
		width: 90px
	.btn
		float: right
		
//diller
.diller
	& > .title
		padding-top: 15px
	.l
		margin: 0
	+rt(1200)
		padding: 0 10px
	+rt(999)
		padding: 0
.diller__discount
	margin-bottom: 35px
	+clr
	+rt(999)
		margin-bottom: 15px
	li
		float: left
		width: 280px
		padding: 15px 45px 
		background: #dae5ec 
		&:first-child
			margin-right: 40px
		+rt(1200)
			width: 200px
			min-height: 80px 
		+rt(999)	
			float: none 
			width: auto
			min-height: 0
			margin: 0 0 10px
			&:first-child
				margin: 0 0 10px
	strong
		display: block
		margin-bottom: 5px
		font-weight: normal
		font-size: 20px
		text-transform: uppercase
		+fl
	span
		font-size: 13px
		color: #617883
.diller__content
	padding: 30px 50px
	background: #fff 
	+rt(1200)
		padding: 20px
.diller__block
	padding: 25px 40px 
	margin-bottom: 35px
	background: #FFF 
	+rt(1200)
		padding: 20px
.diller__reminder
	p
		font-size: 13px
		margin-bottom: 10px
		color: #617883 
.diller__table
	width: 100%
	td, th
		vertical-align: top		 
		&:first-child
			border-right: 1px solid #ecf2f5 
	th
		padding: 0 0 10px 10px
		font-weight: normal		
		text-align: left
		text-transform: uppercase
		font-size: 11px
		&:first-child
			padding: 0 0 10px 
	td, a
		color: #617883 
		font-size: 13px
	td
		min-width: 115px
		padding: 10px 0 10px 10px
		border-top: 1px solid #ecf2f5
		&:first-child
			padding: 10px 10px 10px 0
.diller__nav
	margin-bottom: 40px
	overflow: hidden
	ul
		overflow: hidden
		margin-right: -50px
	li
		float: left
		width: 370px 
		margin: 0 40px 35px 0
	a
		display: table-cell
		width: 300px
		height: 66px
		padding: 0 35px
		background: $red 
		font-size: 20px
		text-align: center
		vertical-align: middle
		line-height: 1.1  
		&:hover
			background: $redh 
	+rt(1200)
		display: none
.diller__tabs-nav
	display: table
	width: 100%
	margin-bottom: 10px
	+rt(999)
		display: none
	ul
		display: table-row
	li
		display: table-cell
		border-left: 1px solid #c2cfd5
		vertical-align: top
		&:first-child
			border: none
	a
		display: block
		height: 64px
		padding: 0 25px
		line-height: 64px
		font-size: 12px
		color: #233C48
		text-transform: uppercase 
		text-align: center
		vertical-align: middle
		+tr(background .2s linear)
		&:hover
			background: #E9F0F4 
		&.is-active
			background: #E9F0F4 
			color: #607782
			cursor: default
	span
		display: inline-block
		vertical-align: middle
		line-height: 1.2
.diller__tabs-date
	margin-bottom: 30px
	span
		display: block
		width: 168px
		height: 38px
		background: #e9f0f4 
		border: 1px solid #cfd6da
		line-height: 38px
		text-align: center
		font-size: 13px
		color: #363432 
.diller__tabs-info	
	margin-bottom: 60px
	
//pager
.pager
	height: 17px
	margin-bottom: 80px
	border-bottom: 1px solid #e9f0f4 
	text-align: right
.pager__in
	display: inline-block
	padding-left: 35px
	background: #fff 
	vertical-align: top
	+rt(999)
		background: #e9f0f4 
	a
		display: inline-block
		height: 35px
		padding: 0 7px
		line-height: 35px
		vertical-align: middle
		+tr(all .2s linear)
		color: $red 
		&.is-active, &:hover
			background: $red
			color: #fff  
	.pager__prev, .pager__next
		padding: 0
		+tr(all 0 linear)		
	.pager__prev
		padding: 0
		margin-right: 10px
		+s(arr-slider-prev-red)
		&:hover
			+s(arr-slider-prev-red)
	.pager__next
		padding: 0
		margin-left: 10px
		+s(arr-slider-next-red)
		&:hover
			+s(arr-slider-next-red)

//
.info-salons
	margin-bottom: 30px
	.btn-list
		li
			width: 100%
			margin: 0
			&:first-child
				margin: 0		 
.info-salons__in
	padding: 20px
	background: #dbe5ea  
	font-size: 16px
	color: #617883 

//
.calculate
	margin-bottom: 30px
.calculate__in	
	padding: 20px
	background: #dbe5ea
	font-size: 13px
	color: #617883 
	.btn
		width: 100%
		margin-top: 20px	
.calculate__form
	display: none
	padding: 15px 20px
	background: #ebf1f4
	border-top: 1px solid #fff  
	.field
		margin-bottom: 15px
	.field__input
		input
			background: #FFF 
	.btn
		width: 100%
		margin-top: 15px
		
//
.info-example
	padding: 20px
	margin-bottom: 30px
	background: #ebf1f4
	font-size: 15px
	color: #617883 
	p
		margin-bottom: 10px
	a
		text-decoration: underline
		color: #617883
.info-example__price
	padding-top: 10px
	font-size: 18px
	color: $red 
	
//faq
.faq
	margin-bottom: 30px
.faq__item	
	&.is-active
		.faq__head
			text-decoration: none
			&:before
				background: #9c2618 
			&:after
				+rotate(88deg)
.faq__head
	position: relative
	padding: 0 0 20px 40px
	cursor: pointer	
	text-decoration: underline
	+fl
	font-size: 20px
	color: $red 	
	&:hover
		opacity: .9 
		text-decoration: none
	&:before, &:after
		content: ""
		position: absolute
	&:before
		top: 5px
		left: 0
		width: 23px
		height: 19px
		background: $red
	&:after
		top: 10px
		left: 9px
		+s(faq-arr) 
		+tr(all .2s linear)
.faq__content
	padding: 0 0 20px 40px
	overflow: hidden
	font-size: 13px	
	+clr
	img
		float: left
		margin: 0 30px 0 0
		+rt(999)
			float: none
			display: block
			margin: 0 0 15px
		

//portfolio
.portfolio
	margin-bottom: 30px
.portfolio__item
	margin-bottom: 50px
	+clr
	+rt(999)
		margin-bottom: 15px
.portfolio__slider
	float: left
	width: 420px 
	margin-right: 40px
	.slider
		margin: 0
	+rt(1200)
		width: 340px
	+rt(999)
		float: none
		width: 300px
		margin: 0 0 20px
.portfolio__details
	float: left
	width: 420px
	.content
		margin: 0
	+rt(1200)
		width: 340px	
.portfolio__title
	padding: 10px 0
	+fl
	font-size: 19px
	line-height: 1.2
.portfolio__logo
	display: table-cell
	width: 210px
	height: 100px
	vertical-align: middle
	text-align: center
	background: #FFF
	border: 1px solid #d6dce0
	img
		vertical-align: middle

//popup
.popup
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgb(0,0,0)
	background: rgba(0,0,0,.9)
	overflow: auto
.popup__in
	position: absolute
	top: 0
	left: 50%
	bottom: 0
	width: 1188px
	margin-left: -594px
	+rt(1200)
		width: auto
		left: 0
		right: 0
		margin: 0
.popup__close
	position: absolute
	right: 0
	top: 45px	
	z-index: 200 
	font-size: 0
	z-index: 200 
	i
		display: inline-block
		vertical-align: middle
		+s(popup-close)
	&:hover
		opacity: .5 
	+rt(1200)
		top: 10px
		right: 10px
		padding: 10px
		background: rgba(0,0,0,.3) 
		i
			+s(p-gallery-close-mob)
.p-gallery
	position: absolute
	top: 50%
	left: 0
	right: 0
	margin-top: -300px
	+rt(1200)
		top: 10px
		left: 10px
		right: 10px
		margin: 0
.p-gallery__item
	width: 100%
	text-align: center
	+rt(1200)
		img
			width: 100%
.p-gallery__prev, .p-gallery__next
	position: absolute
	top: 50%
	margin-top: -35px
	z-index: 200
	font-size: 0
	i
		display: inline-block
		vertical-align: middle
	&:hover
		opacity: .5 
	+rt(1200)
		padding: 10px
		background: rgba(0,0,0,.3) 
.p-gallery__prev
	left: 0
	i
		+s(p-gallery-prev)
		+rt(1200)
			+s(arr-slider-prev-white-sm)
.p-gallery__next
	right: 0
	i
		+s(p-gallery-next)
		+rt(1200)
			+s(arr-slider-next-white-sm)
.p-message
	position: absolute
	top: 50%
	left: 50%
	width: 470px
	padding: 40px
	margin: -150px 0 0 -275px
	background: #fff
	.title-border
		padding-right: 40px
		+rt(1200)
			margin-bottom: 20px
	.title-border__in
		+fl
		font-size: 36px
		+rt(1200)
			font-size: 18px
			padding-bottom: 10px
	.content
		a
			text-decoration: underline
			color: $red
			&:hover
				color: $redh 
	.btn
		height: 50px
		background: $red
		font-size: 16px
		&:hover
			background: $redh 
	+rt(1200)
		top: 10px
		left: 10px
		right: 10px
		width: auto
		padding: 10px
		margin: 0
.p-error
	position: absolute
	top: 50%
	left: 50%
	width: 360px
	padding: 40px 40px 10px
	margin: -130px 0 0 -220px
	background: #fff
	text-align: center
	+rt(999)
		top: 10px
		left: 10px
		right: 10px
		width: auto
		padding: 20px 20px 5px 
		margin: 0		
.p-close
	position: absolute
	top: 20px
	right: 20px
	+s(p-error-close)
	z-index: 200 
	&:hover
		opacity: .7 
	+rt(1200)
		top: 10px
		right: 10px
.p-error__logo
	margin-bottom: 10px
	font-size: 0
	i
		display: inline-block
		+s(p-error)
.p-error__title
	display: inline-block
	margin-bottom: 30px
	padding-bottom: 7px
	border-bottom: 1px solid #707070
	+fl
	font-size: 25px
	text-transform: uppercase

.p404
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
.p404__in
	position: absolute
	top: 50%
	left: 0
	right: 0
	height: 423px 
	margin-top: -210px 
	background: url(../img/404-bg-right.jpg) repeat-x 0 0 
.p404__pic
	position: absolute
	top: 0
	left: 50%
	width: 436px
	height: 804px
	margin-left: 160px
	background: url(../img/404.jpg) 
	z-index: 10 
.p404__left
	position: absolute
	top: 0
	left: 0
	right: 50%
	height: 423px
	margin-right: -160px
	padding-right: 160px
	background: $red 
	text-align: right
	line-height: 423px
	z-index: 5 
.p404__left-in
	display: inline-block
	vertical-align: middle
	line-height: 1.4
	color: #FFF 
.p404__title	
	margin-bottom: 10px
	font-size: 75px
	font-weight: bold
	text-transform: uppercase 
	line-height: 1
.p404__message
	margin-bottom: 25px
	font-size: 19px
.p404__text
	font-size: 14px
	a
		text-decoration: underline
		color: #FFF
		 
	







