@import "base"
//styles for inner pages
.substrate
	position: absolute
	top: 110px
	left: 0
	right: 0
	height: 645px
	background: #e9f0f4
	z-index: 5 
.substrate__top
	height: 64px
	background: #DBE5EA  
.substrate_about
	+cover
	.substrate__top
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.3) 
	
.nav-inner
	margin-bottom: 30px
	li
		margin-bottom: 1px
		&.is-active
			a
				background: #333
				color: #fff  
	a
		display: table-cell
		width: 210px
		height: 64px
		padding: 0 25px 0 35px
		background: #FFF
		vertical-align: middle
		text-transform: uppercase
		color: #333
		+fl  
		
.bc
	margin-bottom: 20px
	ul
		display: table-cell
		width: 100%
		height: 64px		
		font-size: 0
		vertical-align: middle
	li
		display: inline-block
		vertical-align: top
	a, span
		display: inline-block
		font-size: 10px
		color: #607782
		text-transform: uppercase 
		vertical-align: bottom
	span
		color: #8CA4B0 
	i
		display: inline-block
		margin: 0 10px 5px
		+arr(4,6,#607782,r)
		vertical-align: bottom
.bc_white
	a, span
		color: #FFF 
	i
		border-color: transparent transparent transparent #fff
		
.btn-list
	margin-bottom: 30px
	+clr
	li
		float: left
		width: 49%
		background: #DBE5EA 			
		&:first-child
			margin-right: 2%
		&.is-active
			background: #607782
			span
				color: #fff  
	a
		display: block
		height: 74px
		font-size: 0		 
		line-height: 74px
		text-align: center
	.ico
		margin-right: 12px 
	span
		display: inline-block
		vertical-align: middle
		+fl
		font-size: 20px
		color: #363432
		text-transform: uppercase
.btn-list_down
	margin: 30px 0 0 0
		
.designers
	margin-bottom: 60px
	overflow: hidden
.designers__in
	margin: 0 -30px 45px 0
	li
		position: relative
		float: left
		width: 276px
		margin: 0 26px 26px 0
		&:hover
			span
				height: 276px
				line-height: 276px 
	img, a
		display: block
	span
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 60px
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.7) 
		text-align: center
		line-height: 60px
		color: #FFF 
		+tr(all .2s linear)
		
.more
	button
		width: 100%
		height: 54px  
		background: $red
		+fl
		color: #FFF
		text-transform: uppercase
		
.content
	margin-bottom: 30px
	font-size: 13px
	ul
		li
			position: relative
			padding-left: 13px
			&:before
				content: ""
				position: absolute
				top: 5px
				left: 0
				+s(content-list-arr)

.share
	margin-bottom: 60px
	font-size: 0
.share__title, .share__list
	display: inline-block
	vertical-align: top
.share__title	
	margin: 5px 20px 0 0 
	font-size: 10px
	text-transform: uppercase
.share__list
	li
		display: inline-block
		margin-right: 2px
		vertical-align: top
	a
		display: block
		width: 18px
		height: 21px
		line-height: 21px 
		text-align: center
	i
		display: inline-block
		vertical-align: middle
.share__fb
	+s(share-fb)
.share__tw
	+s(share-tw)
.share__gp
	+s(share-gp)

.pagination
	margin-bottom: 30px
	+clr	
	text-align: center
	a
		height: 38px
		line-height: 38px
		color: $red
		text-transform: uppercase
		font-size: 10px 
.pagination__prev, .pagination__next
	h
	i
		float: left
.pagination__prev
	float: left
	i
		float: left
		margin-right: 30px
		+s(pagination-prev)
.pagination__next
	float: right
	i
		float: right
		margin-left: 30px
		+s(pagination-next)
.pagination__link
	display: inline-block
	
.about
	height: 560px - 175px
	padding-top: 175px 
	margin-bottom: 30px 
.about__title
	position: relative
	padding: 0 0 5px 25px 
	border-left: 1px solid rgb(255,255,255) 
	border-left: 1px solid rgba(255,255,255,.55) 
	font-weight: bold
	color: #FFF 
	text-transform: uppercase
	line-height: 1
	&:before
		content: ""
		position: absolute
		top: 0
		left: 2px
		bottom: 0
		border-left: 1px solid rgb(255,255,255) 
		border-left: 1px solid rgba(255,255,255,.55) 
.about__title-name
	font-size: 90px
.about__title-desc
	font-size: 24px 
	
.box-wrap
	overflow: hidden
.box-wrap__in
	margin: 0 -40px 10px 0
	overflow: hidden
.box
	float: left
	margin: 0 20px 20px 0
	img
		display: block
.box_width_1
	width: 280
.box_width_2
	width: 580
.box_height_1
	width: 240
.box_height_2
	width: 500
.box__content
	width: 220px
	height: 180px
	padding: 30px
	background: #e9f0f4 
.box__content_less
	width: 210px
.box__title
	margin-bottom: 25px
	line-height: 1
	font-size: 25px
	color: #302E8A
.box__text
	color: #333 
