@import "base"
//styles for layouts
.l
	margin-bottom: 40px
	+clr
	+rt(1200)
		margin-bottom: 20px
	+rt(999)
		margin-bottom: 0
.l__col-1
	float: left
	width: 895px 
	+rt(1200)
		width: 670px
	+rt(999)
		display: none
.l__col-2
	float: right
	width: 275px 
	+rt(999)
		float: none
		margin: 20px auto 0
.l__col-3
	float: left
	width: 270px 
	+rt(1200)
		width: 230px
	+rt(999)		
		float: none
		width: 270px
		clear: both
		margin: 0 auto
		padding-top: 20px
.l__col-4
	float: right
	width: 880px
	+rt(1200)
		width: 750px 
	+rt(999)
		float: none
		width: auto
		margin: 0 -10px
		padding: 10px 10px 20px
		background: #e9f0f4 
.l__col-5
	float: left
	width: 780px 
	+rt(1200)
		width: 620px
	+rt(999)
		float: none
		width: auto
.l__col-6
	float: right
	width: 370px
	+rt(1200)
		width: 330px
	+rt(999)
		float: none
		width: auto
.l__col-7
	float: left
	width: 880px 
	+rt(1200)
		width: 750px
	+rt(999)
		float: none
		width: auto
.l__col-8
	float: right
	width: 275px
	margin-top: -120px
	+rt(1200)
		width: 220px
	+rt(999)
		float: none
		width: auto
		margin: 0

