@import "base"
//styles for main page(class with prefix "m-")
.main
	background-color: black
	overflow: hidden
.sl-category, .sl-category__item
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0 
.sl-category__item
	background-size: cover	 
	+tr(opacity .4s linear)
	opacity: 0
	&.is-active
		opacity: 1 
.main__in
	position: relative
	width: 1188px
	margin: 0 auto 
	.find-salon
		&:hover
			background: #FFF
			span
				color: #333 
			i
				+s(map-point-sm-h)
.logo
	position: absolute
	top: 25px
	padding-bottom: 22px
	border-bottom: 2px solid #fff 
	+ht
	z-index: 20
.logo__pic
	display: block
	+s(logo)
.language
	position: absolute
	top: 40px
	right: 35px
	font-size: 0
	z-index: 20
	li
		display: inline-block
		margin-left: 15px
		&.is-active
			a
				background: #FFF
				color: $red  
	a
		display: block
		height: 14px
		padding: 0 7px
		line-height: 14px
		vertical-align: top
		font-size: 9px 
		+tr(all .2s linear)
		color: #FFF
		&:hover
			background: #fff
			color: $redh  
.find-salon
	position: absolute
	left: 238px
	top: 33px
	width: 138px
	height: 40px 
	line-height: 40px
	text-align: center
	+tr(background .2s linear)
	font-size: 0
	i, span
		display: inline-block
		vertical-align: middle		 
	span
		font-size: 11px
		text-transform: uppercase
		color: #FFF
	i
		position: relative
		top: -1px
		margin-right: 12px 
		+s(map-point-sm)
.menu
	position: absolute
	left: 0
	right: 0
	bottom: 75px
	font-size: 0	
	z-index: 10 
	+gpu
.menu_inner
	position: relative
	margin-bottom: 50px
	bottom: auto
	.menu__title
		padding-top: 20px
		span
			color: #333
	.menu__item-in
		display: block
		cursor: pointer
		&:before
			border-color: #e2e2e2
.menu-sl
	position: relative
	height: 645px 
	margin: -84px 0 25px -38px
	overflow: hidden
	.menu__item
		width: 315px - 30px
		padding-left: 30px
	.menu__item-in
		&.is-hover
			&:before
				opacity: 1
.menu__item
	position: relative
	display: inline-block
	width: 20%		
	vertical-align: top
.menu__overlay
	display: none
	position: absolute
	top: -2000px
	bottom: -2000px
	left: 0
	right: 0		
	background: rgba(0,0,0,.5)
	z-index: 1  
.menu__item-in
	position: relative
	height: 125px
	padding: 0 20px	
	+box
	vertical-align: bottom
	color: #FFF
	cursor: default
	z-index: 2	
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 2px 
		border: 1px solid rgba(255,255,255,.55)
		border-width: 0 1px
		+tr(opacity .4s linear)
		opacity: 1 		
	&.is-hover
		&:before
			opacity: 0 		
		.menu__link
			opacity: 1 			 
.menu__numner
	display: inline-block
	width: 14px 
	padding-bottom: 5px
	font-size: 11px
	font-weight: bold
	color: #FFF
	text-align: center
	border-bottom: 3px solid #fff 
.menu__title
	height: 70px
	line-height: 70px
	span
		display: inline-block		
		text-transform: uppercase 
		line-height: 1.2
		vertical-align: middle
		font-size: 16px
		font-weight: bold
		color: #FFF
.menu__link	
	display: inline-block
	height: 29px
	line-height: 29px
	padding: 0 15px
	+tr(opacity .4s linear) 
	background: $red
	color: #FFF
	font-size: 12px  
	opacity: 0 
	+tr(background .2s linear)
	&:hover
		background: $redh 
.main__btn-down
	position: absolute
	left: 50%
	bottom: 0
	width: 68px
	height: 48px
	padding-top: 10px
	background: rgb(0,0,0)  
	background: rgba(0,0,0,.6) 
	font-size: 0
	z-index: 20 
	+gpu
	i
		display: inline-block
		+s(arr-down-white)

