@import "base"
//slider
.slider
	position: relative
.slider__item
	position: relative !important
	img
		display: block
.slider__title
	position: absolute
	top: 20px
	left: 20px
	padding: 10px 13px
	background: $red
	+fl
	font-size: 29px
	font-weight: 100 
	color: #FFF	  
	z-index: 200 
.slider__description
	position: absolute
	left: 140px
	bottom: 40px
	right: 40px
	min-height: 50px 
	padding: 10px 20px 
	background: rgb(0,0,0)    
	background: rgba(0,0,0,.6)   
	+fl 
	font-size: 22px
	color: #fff 
	line-height: 1.1
.slider__prev, .slider__next
	position: absolute
	left: 20px
	bottom: 40px
	width: 60px
	height: 70px
	background: $red
	z-index: 200 
	font-size: 0
	i
		display: inline-block
		+s(arr-slider-prev-white)
.slider__next
	left: 80px
	i
		+s(arr-slider-next-white)
//
.slider_people	
	min-height: 455px
	margin-bottom: 30px
	text-align: center
	.slider__in
		position: relative
		display: inline-block
	.slider__link	
		height: 60px
		background: #FFF 
		line-height: 60px
		a
			text-decoration: underline
			color: $red
			font-size: 13px 
	.slider__prev, .slider__next
		top: 130px
		left: 0
		bottom: auto
	.slider__next
		left: auto
		right: 0
//
.slider_asks
	padding: 65px 15px 20px 
	.btn
		position: absolute
		bottom: 0
		right: 0
		height: 42px
		padding: 0 20px
		background: #363432 
		line-height: 42px
		text-align: center
		+fl
		font-size: 11px
		text-transform: uppercase
		color: #fff 
.slider_asks, .slider_events, .slider_product
	.slider__prev, .slider__next
		bottom: 20px
		width: 38px
		height: 42px
		background: #fefdfc 
	.slider__prev
		left: 15px
		width: 39px
		border-right: 1px solid #f7f6f5 
	.slider__next
		left: 53px 
	.slider__prev
		i
			+s(arr-slider-prev-red)
	.slider__next
		i
			+s(arr-slider-next-red)
.slider_asks, .slider_events
	margin-bottom: 30px
	background: $red
	.slider__item
		padding-bottom: 70px
	.slider__text
		+fl
		font-size: 16px 
		color: #FFF 
		line-height: 1.1
	.slider__title	
		top: 0
		left: 0
		height: 48px
		padding: 0 15px
		background: #FFF
		line-height: 48px  
		font-size: 22px
		color: #333 	
.slider_events
	.slider__text
		padding: 15px 20px 

//slider_works
.slider_works
	margin-bottom: 40px
	.slider__prev, .slider__next
		top: 50%
		margin-top: -35px
		bottom: auto
		background: rgb(255,255,255) 
		background: rgba(255,255,255,.5) 
	.slider__prev
		left: 0
		i
			+s(arr-slider-prev-gray)
	.slider__next
		left: auto
		right: 0
		i
			+s(arr-slider-next-gray)

//slider_many
.slider_many
	padding: 0 100px
	margin-bottom: 40px
	.slider__next
		left: auto
		right: 0
	.slider__prev
		left: 0
	.slider__in
		white-space: nowrap
		font-size: 0 
		overflow: hidden
	.slider__item
		display: inline-block
		margin-right: 25px
		vertical-align: top
		
//slider_product
.slider_product
	width: 515px
	height: 410px
	.slider__prev, .slider__next
		bottom: 30px
	.slider__prev
		left: 30px
	.slider__next
		left: 69px 